
button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0.1rem 0.1rem 0.1rem #282828;
}
